@use "../../variables" as *;

#current_artist {
	display: flex;
	align-items: center;
	justify-content: center;
	& > .artist {
		border: 1px solid $black;
		width: 11rem;
	}
	h4 {
		font-size: $mix2;
		line-height: 1.5rem;
	}
}
@media (min-width: 700px) {
	#current_artist {
		justify-content: flex-start;
	}
}
