@use "../variables" as *;

.festival_map_container {
	figure {
		margin-block-start: 0rem;
		display: flex;
		justify-content: center;
		.map {
			height: auto;
			max-width: 40rem;
		}
	}
	.map_text {
		max-width: 100%;
		display: flex;
		justify-content: center;
		margin: 0.7rem;
		p {
			text-align: center;
			line-height: 1.7rem;
		}
	}
}
