@use "../variables" as *;

button.secondary {
	height: 3rem;
	width: fit-content;
	padding-inline: 1rem;
	color: $white;
	border: solid $blue 1px;
	background-color: $blue;

	text-transform: uppercase;
	cursor: pointer;
	transition: 200ms;
	&:hover {
		color: $blue;
		border: solid $blue 1px;
		background-color: $white;
		svg {
			fill: black;
		}
	}

	& svg {
		fill: $white;
	}
}
button.back {
	height: 3rem;
	width: fit-content;
	padding-inline: 1rem;
	border: none;
	background-color: $white;
	color: $black;
	cursor: pointer;
	a {
		text-decoration: none;
		color: $black;
	}
}
