@use "../variables" as *;

button.secondary {
	position: fixed;
	bottom: 5%;

	height: 3rem;
	width: fit-content;
	padding-inline: 1rem;
	border: solid $black 1px;

	background-color: $white;

	font-family: $display-font;
	text-transform: uppercase;
}
