@use "../variables" as *;

button.secondary {
	height: 3rem;
	width: fit-content;
	padding-inline: 1rem;
	border: solid $black 1px;
	background-color: $white;

	text-transform: uppercase;
}
button.back {
	height: 3rem;
	width: fit-content;
	padding-inline: 1rem;
	border: none;
	background-color: $white;
	color: $black;
	a {
		text-decoration: none;
		color: $black;
	}
}
