@use "../../variables";

#slider {
	display: grid;
	justify-content: center;
	padding-block-end: 3rem;
	border-bottom: 1px solid black;

	#card_container {
		// width: fit-content;
		display: grid;
		justify-content: center;
		grid-template-columns: 1fr 1fr;
		.card {
			max-width: 15rem;
			padding-block-end: 1rem;
			img {
				height: 70%;
				width: 100%;
			}
		}
	}
}

@media (min-width: 700px) {
	#slider {
		#card_container {
			// display: flex;
			// flex-wrap: wrap;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			max-width: 80vw;
			// .card {
			// 	max-width: 10rem;
			// 	img {
			// 		height: 70%;
			// 	}
			// }
		}
	}
}
