@use "../variables" as *;

.card {
	background-color: $white;
	h4 {
		position: absolute;
		padding-inline: 0.5rem;
	}
	p {
		padding-inline: 0.5rem;
	}
	img {
		border-bottom: 1px solid $black;
		// height: 10rem;
	}
}
