@use "../../variables" as *;

#lineup_container {
	border-top: 1px solid $black;
	overflow-y: scroll;
	height: 85vh;
	display: grid;
	padding-inline: 1rem;
	.lineup {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-family: $display-font;
		p {
			display: inline;
			vertical-align: middle;
			text-align: center;
			text-transform: uppercase;
			line-height: 0rem;
			font-size: $tiny;
			span {
				vertical-align: inherit;
				text-indent: 0cm;
				padding-inline: 0.2rem;
				height: 0rem;
				font-size: 2rem;
				font-family: sans-serif;
			}
		}
		:nth-child(10n) {
			color: $blue;
			font-size: $small;
			span {
				color: $black;
			}
		}
	}
	#schedule_btn {
		margin: 1rem;
		justify-self: end;
		position: fixed;
		bottom: 5%;
	}
}
