@use "../../variables" as *;

#next_artist {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	> * {
		width: 50%;
		border: 1px solid $black;
	}
}
@media (min-width: 700px) {
	#next_artist {
		flex-direction: row;
		> * {
			width: 10rem;
			font-size: $mix2;
		}
	}
}
