@use "../variables" as *;

.header {
	display: flex;
	padding-inline: 1.5rem;
	h1 {
		font-family: $display-font;
		font-size: 2.5rem;
	}
	span {
		width: 1px;
		background-color: $black;
		margin-inline: 2rem;
	}
	p {
		font-family: $paragraph-font;
		align-self: flex-end;
		width: 100%;
		text-align: end;
		max-width: none;
	}
}
@media (min-width: 700px) {
	.header {
		height: 15vh;
	}
}
