// Fonts
$display-font: "Rakkas", cursive;
$paragraph-font: "Raleway", sans-serif;

// Colors
$black: #000000;
$white: #ffffff;
$blue: rgba(0, 54, 244, 1);
$green: green;
$red: red;
$yellow: rgb(204, 204, 57);

// Borders
