@use "../../variables" as *;

.navigation {
	ul {
		font-family: $display-font;
	}
	li {
		height: 4.5rem;
		list-style: none;
		background-color: $white;
		display: flex;
		align-items: center;
		justify-content: space-between;
		img {
			max-height: 100%;
			width: auto;
		}
		p {
			padding-inline: 1rem;
			font-size: 1.8rem;
		}
	}
}
@media (min-width: 700px) {
	.navigation {
		ul {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			height: 85vh;
		}
		li {
			height: auto;
			// width: auto;
			writing-mode: sideways-lr;
			img {
				max-height: 70px;
				width: auto;
			}
		}
	}
}
