@use "../../variables" as *;

.navigation {
	ul {
		font-family: $display-font;
	}
	li {
		// height: 4.5rem;
		list-style: none;
		background-color: whitesmoke;
		display: flex;
		align-items: center;
		justify-content: space-between;
		img {
			height: auto;
			width: 30%;
		}
		p {
			padding-inline: 1rem;
			font-size: 1.8rem;
		}
	}
}
@media (min-width: 700px) {
	.navigation {
		ul {
			// transform-origin: bottom right;
			// transform: rotate(90deg);

			display: flex;
			flex-flow: column;
		}
	}
}
