@use "../../variables" as *;

#scene_navigation {
	ul {
		display: flex;
		justify-content: space-evenly;
		list-style: none;
		font-family: $display-font;
		font-size: $medium;
		:hover {
			color: $blue;
		}
	}
	border-bottom: 1px solid $black;
}
